extends layout

block content
  h1= title
  p Welcome to #{title}

  input(type="text", ng-model="markerLabel", ng-change="updateMarkerLabel()", class="input-mini")

  div(
    class="google-map",
    center="position.coords",
    zoom="zoomProperty" ,
    markers="markersProperty",
    latitude="clickedLatitudeProperty",
    longitude="clickedLongitudeProperty",
    mark-click="true",
    draggable="true",
    fit="false",
    events="eventsProperty",
    style="height: 1000px; width: 100%")

  //- Include the maps javascript with sensor=true because this code is using a
  //- sensor (a GPS locator) to determine the user's location.
  //- See: https://developers.google.com/apis/maps/documentation/javascript/basics#SpecifyingSensor
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true", type="text/javascript")

  script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
  script(src="/js/angular-google-maps.js")
  script(src="/js/controllers.js")