div(class="ng-controller", ng-controller="ShowMapCtrl")
  div(class="hero-unit")
    h1(class="pull-left") Let's Meet

    div(class="pull-right")
      button(type="button", class="btn btn-mini btn-link", bs-modal="'/partials/maps/modal'")
        i(class="icon-map-marker icon-white")
      button(type="button", class="btn btn-mini btn-link", bs-modal="'/partials/help'")
        i(class="icon-question-sign icon-white")

  div(
    class="google-map",
    center="center",
    zoom="zoom" ,
    markers="markers",
    latitude="latitude",
    longitude="longitude",
    mark-click="true",
    draggable="true",
    fit="false",
    events="events",
    style="height: 100%; width: 100%")