div(ng-controller="ShowMapCtrl")
  div(class="alerts")
    div(class="alert fade", ng-repeat="alert in alerts", bs-alert="alert")

  form(class="form-horizontal")
    div(class="control-group")
      label(class="control-label") Me:
      div(class="controls")
        input(type="text", ng-model="peopleMarker.infoWindow", placeholder="Identify yourself", ng-change="updatePeopleMarker()")
    div(class="control-group")
        label(class="control-label") Meet:
        div(class="controls")
          input(type="text", ng-model="meetMarker.infoWindow", placeholder="Identify the meet point", ng-change="updateMeetMarker()")

  div(
    class="google-map",
    center="center",
    zoom="zoom" ,
    markers="markers",
    latitude="latitude",
    longitude="longitude",
    mark-click="true",
    draggable="true",
    fit="false",
    events="events",
    style="height: 500px; width: 100%")